<!doctype html>
<html>
    <head>
        <title>
            Comments
        </title>
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>

<body style= "background-color: lightblue;">

        <!-- Write the title of the page in a large heading font -->

       
        <h1>
            If you want to donate leave a message
        </h1>
        <!-- Show the navbar -->
        <div>
            {% include "navbar.html" %}
        </div>
        <h2>
        Company that are facilitating with this Club:</h2>
        <img height="100" src="{{url_for('static', filename='gap.png')}}">
        <img height="100" src="{{url_for('static', filename='old_navy.png')}}">
        <img height="100" src="{{url_for('static', filename='Stop__Shop_logo_logo.png')}}">
        <img height="100" src="{{url_for('static', filename='home_depot.png')}}">
        <img height="100" src="{{url_for('static', filename='target.jpeg')}}">

        <p>Hello! Please add a message.</p>

            <form action="{{ url_for('messages') }}" method="POST">

                Username
                <input type="text"
                       name="username"
                       >
                <br />

                Message text:
                <input type="text" name="text" placeholder="">
                <br />

                <input type="submit" value="Submit">

            </form>

        <br />

        All messages:

        {% for message in messages %}
        	<div>
        		<ul>
        			<li>
                        User: {{ message.username }}
                    </li>
        			<li>
                        Message: {{ message.text }}
                    </li>
        		</ul>
        	</div>
        {% endfor %}

    </body>
</html>
